@media (max-width: 767px) {
    .nav {
        position: static;
    }
    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu {
        position: absolute;
        top: 60px;
        bottom: 0;
        background: #293241;
        width: 100%;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 2;
    }
    .nav__input:checked + .nav__menu {
        clip-path: circle(100% at center);
    }
    .carouselExampleControls {
        z-index: 1;
    }
    .bloque-main {
        display: flex;
        flex-direction: column;
        #carouselExampleControls {
            width: 70%;
            height: auto;
        }
        p {
            width: 90%;
            height: auto;
            margin: 50px auto 10px;
        }
    }   
}

@media (max-width: 1023px) {
    .bloque-main {
        display: flex;
        flex-direction: column;
        #carouselExampleControls {
            width: 70%;
            height: auto;
        }
        p {
            width: 90%;
            height: auto;
            margin: 50px auto 10px;
        }
    }
}