@media (max-width: 767px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: pink;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 2;
    }
    .nav__input:checked + .nav__menu {
        clip-path: circle(100% at center);
    }
    .carouselExampleControls {
        z-index: 1;
    }   
}