//index//
@media (max-width: 767px) {
    .nav {
        position: static;
    }
    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu {
        position: absolute;
        top: 60px;
        bottom: 0;
        background: #293241;
        width: 100%;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        z-index: 2;
    }
    .nav__input:checked + .nav__menu {
        clip-path: circle(100% at center);
    }
    .carouselExampleControls {
        z-index: 1;
    }
    .bloque-main {
        display: flex;
        flex-direction: column;
        #carouselExampleControls {
            width: 70%;
            height: auto;
        }
        p {
            width: 90%;
            height: auto;
            margin: 50px auto 10px;
        }
    }   
}

@media (max-width: 1023px) {
    .bloque-main {
        display: flex;
        flex-direction: column;
        #carouselExampleControls {
            width: 70%;
            height: auto;
        }
        p {
            width: 90%;
            height: auto;
            margin: 50px auto 10px;
        }
    }
}
//niniomafia//
@media (max-width:767px) {
    .grid-container {
        display: grid;
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (6, 1fr);
        .grid-item {
            width: 95%;
            height: 100px;
            margin: 0 auto;
        }
        .grid-item:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .grid-item:nth-child(2) {
            grid-column: 1/3;
            grid-row: 2/3;
        }
        .grid-item:nth-child(3) {
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .grid-item:nth-child(4) {
            grid-column: 1/3;
            grid-row: 4/5;
        }
        .grid-item:nth-child(5) {
            grid-column: 1/3;
            grid-row: 5/6;
        }
        .grid-item:nth-child(6) {
            grid-column: 1/3;
            grid-row: 6/7;
        }
    }
    .principal__nm {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .bloque__nm {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .video__responsive {
            width: 90%;
            height: auto;
            margin: 25px auto 15px;
            
        }
        .grid-container {
            margin-top: 10px;
        }
    }
}
//La Loopera Bailable//
@media (max-width: 1023px) {
    .grid-contenedor {
        display: grid;
        max-width: 80%;
        height: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 20px auto 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .item-grid {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
            }
            iframe {
                width: 100%;
                height: 100%;
                border: 1px solid rgb(32, 32, 32);
            }
        }
        .item-grid:nth-child(1) {
            grid-column: 1/13;
            grid-row: 1/7;
        }
        .item-grid:nth-child(2) {
            grid-column: 1/7;
            grid-row: 7/10;
        }
        .item-grid:nth-child(3) {
            grid-column: 7/13;
            grid-row: 7/10;
        }
        .item-grid:nth-child(4) {
            grid-column: 1/7;
            grid-row: 10/13;
        }
        .item-grid:nth-child(5) {
            grid-column: 7/13;
            grid-row: 10/13;
        }
    }
    
    
    
    .grid-contenedor2 {
        display: grid;
        max-width: 85%;
        height: auto;
        margin: 0 auto;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        .item-grid2 {
            width: 100%;
            height: auto;
            iframe {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .item-grid2:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/3;
        }
        .item-grid2:nth-child(2) {
            grid-column: 2/3;
            grid-row: 1/3;
        }
        .item-grid2:nth-child(3) {
            grid-column: 1/2;
            grid-row: 3/5;
        }
        .item-grid2:nth-child(4) {
            grid-column: 2/3;
            grid-row: 3/5;
        }
    }
}

