.logo__img {
    width: 50px;
    height: auto;
}
.nav {
    background: #293241;
    height: 80px;
    width: 100%;
    color: white;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
.nav__item {
    color: white;
    font-size: medium;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item:after {
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .4s;
}
.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__input:checked + .nav__menu {
    background: pink;
}
.nav__label, .nav__input {
    display: none;
}