footer {
    display: flex;
    justify-content: space-between;
    background: #293241;
    position: static;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    color: white;
    p {
        font-size: small;
        margin-left: 10px;
    }
    .iconos {
        display: flex;
        } 
        img {
            width: 30px;
            height: auto;
            padding: 5px;
            margin-right: 10px;
        }

}