* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.titulo__tu-proyecto {
    display: flexbox;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px auto 20px;
    h1 {
        text-align: center;
        border: 1px solid rgb(24, 23, 23);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }
}
.bajada__tu-proyecto {
    width: 80%;
    height: auto;
    margin: 0 auto 20px;
    h3 {
        text-align: center;
        text-decoration: underline;
    }
    p {
        margin: 10px 10px 50px;
    }
}

.grilla-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    .item-grid-tp {
        width: 100%;
        height: auto;
        img {
            max-width: 100%;
            max-height: auto;
        }
        img:hover {
            transform: scale(1.2);
            filter: grayscale(100%);
        }
    }
    .item-grid-tp:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/5;
    }
    .item-grid-tp:nth-child(2) {
        grid-column: 3/5;
        grid-row: 2/6;
    }
    .item-grid-tp:nth-child(3) {
        grid-column: 5/7;
        grid-row: 1/5;
    }
    .item-grid-tp:nth-child(4) {
        grid-column: 7/9;
        grid-row: 2/6;
    }
}

.segmento-troupe {
    width: 70%;
    height: auto;
    margin: 50px auto 50px;
    border: 2px solid rgb(29, 29, 29);
    background: linear-gradient(#44e01c, #cc33a6);
.titulo-troupe {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    p {
        margin-left: 5px;
    }
    ul {
        margin: 15px auto;
        
    }
    li {
        margin-left: 40px;
        margin-top: 5px;
    }
}
