* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(...);
    width: 100%;
    height: auto;
}
.principal {
    width: 100%;
    height: auto;
    & &__titulo {
        font-size: xx-large;
        text-align: center;
    }
    & &__subtitulo {
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    #carouselExampleControls {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
}
#carouselExampleSlidesOnly {
    width: 70%;
    height: auto;  
}
.segmento {
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}
@import "pie";
@import "nav";
@import "@media";
